@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
    background-image: linear-gradient(to bottom, #F4DFC0, #F2B53B);
    background-attachment: fixed;
}

main {
    background-color: white;
    border-radius: 10px; /*Borda*/
    box-shadow: 5px 5px 15px #2e2d2ccc; /*Sombra na borda*/
    width: 600px; /*Delimitar o espaço que o bloco da Main ocupará*/
    padding: 10px; /*Dar um espaço entre o texto e a borda*/
    margin: auto; /*Centralizar o conteúdo da Main*/
}

h1 {
    color: #D83F37;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(204, 59, 52, 0.816);
}

h2 {
    color: #F18274;
}

p {
    text-align: justify;
}